* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Cairo", sans-serif;
  background: gray;
}

header {
  display: flex;
  justify-content: space-between;
  background: blue;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  margin-left: 25px;
}

h2 {
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 0px;
}

nav {
  display: flex;
  justify-content: flex-end;
  background: blue;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.nav-links {
  display: flex;
  margin: 0;
  padding-inline-start: 0;
}

.nav-links li {
  list-style: none;
  margin: auto 25px;
  background: lightgray;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 2px 2px 2px black;
}

.nav-links a {
  color: darkgray;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

.nav-links a:hover {
  color: purple;
}

main {
  display: flex;
  flex-direction: column;
}

.section-1,
.section-2,
.section-3 {
  display: flex;
}

.contact {
  display: flex;
  align-items: center;
}

.about,
.work,
.contact {
  width: 50%;
}

.profile-photo img {
  width: 50%;
  margin: 5%;
  border-radius: 40px;
}

.profile-photo,
.projects,
.contact-links {
  background: purple;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.links .first-project {
  background: red;
  margin: 5px;
  flex: 2 1 auto;
}

.links div {
  background: green;
  margin: 5px;
  width: 50px;
}

p {
  margin: 5px 20px 20px 50px;
}

.contact-links ul li {
  list-style: none;
}

footer {
  display: flex;
  justify-content: space-around;
  background: blue;
  border-top: 3px solid black;
}
