* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Cairo", sans-serif;
  background: rgb(107, 93, 93);
}

header {
  display: flex;
  justify-content: space-between;
  background: rgb(8, 95, 8);
  border-bottom: 2px solid gray;
  padding: 0 0 0 25px;
}

header > * {
  margin: 0 0;
}

h2 {
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: flex-end;
  background: rgb(8, 95, 8);
}

.nav-links {
  display: flex;
  margin: 0;
  padding-inline-start: 0;
}

.nav-links li {
  list-style: none;
  margin: auto 25px;
  background: gray;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 2px 2px 2px black;
}

.nav-links a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

.nav-links a:hover {
  color: rgb(8, 95, 8);
}

main {
  display: flex;
  flex-direction: column;
}

.section-1,
.section-2,
.section-3 {
  display: flex;
}

.section-1 {
  flex-direction: column;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.work {
  width: 50%;
}

.contact {
  width: 100%;
}

.profile-photo img {
  width: 25%;
  border-radius: 40px;
  border: 3px solid black;
}

.profile-photo,
.projects,
.contact-links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  width: 100%;
}

.projects {
  flex-wrap: wrap;
  padding: 3%;
}

.projects .first-project {
  background: gray;
  width: 84%;
  height: 50%;
}

.projects div {
  background: darkgray;
  margin: 1% 2%;
  width: 40%;
  height: 25%;
  border: 3px solid black;
}

.projects div:hover {
  border: 3px solid rgb(8, 95, 8);
}

.projects div img {
  height: 100%;
  width: 100%;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin: 0px 35px 20px 50px;
}

#contact {
  margin: 0 auto;
}

.contact ul {
  padding-inline-start: 0;
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.contact li {
  list-style: none;
  width: 50%;
  margin: 7.5% 0;
  background: gray;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.contact a {
  color: rgb(8, 95, 8);
  text-decoration: none;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-around;
  background: rgb(8, 95, 8);
  border-top: 2px solid black;
}

.section-1 {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  h2 {
    text-align: center;
    margin-left: 0;
  }
  .section-1,
  .section-2,
  .section-3 {
    flex-direction: column;
  }
  .section-2 {
    align-items: center;
  }
  .work p {
    margin: 0;
  }
  .contact {
    margin-top: 0;
  }
}

/* TODO: Replace filler text. */
