* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Cairo", sans-serif;
  background: rgb(107, 93, 93);
}

header {
  display: flex;
  justify-content: space-between;
  background: rgb(8, 95, 8);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  margin-left: 25px;
}

h2 {
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: flex-end;
  background: rgb(8, 95, 8);
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.nav-links {
  display: flex;
  margin: 0;
  padding-inline-start: 0;
}

.nav-links li {
  list-style: none;
  margin: auto 25px;
  background: lightgray;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 2px 2px 2px black;
}

.nav-links a {
  color: darkgray;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

.nav-links a:hover {
  color: purple;
}

main {
  display: flex;
  flex-direction: column;
}

.section-1,
.section-2,
.section-3 {
  display: flex;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#aboutme,
#mywork {
  margin-left: 10%;
}

#contact {
  margin-right: 5%;
}

.about,
.work {
  width: 50%;
}

.section-1 {
  margin-bottom: 5%;
}

.contact {
  width: 100%;
  margin-top: 5%;
}

.profile-photo img {
  width: 50%;
  margin: 5%;
  border-radius: 40px;
}

.profile-photo,
.projects,
.contact-links {
  background: rgb(107, 93, 93);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  flex-wrap: wrap;
}

.projects .first-project {
  background: gray;
  width: 84%;
}

.projects div {
  background: darkgray;
  margin: 1% 2%;
  width: 40%;
  height: 25%;
  /* TODO: Adjust height (to auto?) when imgs are in. */
}

p {
  margin: 5px 35px 20px 50px;
}

#contact {
  margin: 0 auto;
}

.contact ul {
  padding-inline-start: 0;
}

.contact li {
  list-style: none;
  margin: 35% auto;
  background: gray;
  border: 2px solid black;
  border-radius: 5px;
  /* box-shadow: 2px 2px 2px black; */
  display: flex;
  justify-content: center;
}

.contact a {
  color: rgb(8, 95, 8);
  text-decoration: none;
  font-weight: bold;
  margin: 5% auto;
  padding: 10%;
}

footer {
  display: flex;
  justify-content: space-around;
  background: rgb(8, 95, 8);
  border-top: 3px solid black;
}
